.inner_page {
    text-align: center;
    margin-left: 250px;
}

.complementary_text {
    color: #00dae2;
}

.title {
    text-align: left;
    padding: 30px;
    border-bottom: 2px solid;
    width: 80%;
    margin-left: 3%;
}