.section {
    display: flex;
    width: 90%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-left: 3%;
}

.text_section {
    width: 50%;
    text-align: justify;
}

.image_section {
    width: 50%;
}

.image {
    width: 80%;
}